.card {
   height: 200px;
   background-color: rgba(0, 0, 0, 0.4);
   color: white;
   font-size: 40px;
   margin: 10px;
   flex: 200px 0 0;
 }
 .cards img {
     width: 100%;
     object-fit: cover;
 }
 .cards-wrapper {
   display: flex; 
   transition: ease 0.5s;
 }

 /*  adds responsiveness for moblie devices but when added, slider does not function
 @media (mmax-width: 1068px) {
   .card {
     display: none !important;
   }
}
*/ 

 .display-area {
   width: 880px;
 /*   border: 1px solid black; */
   overflow-x: hidden;
   margin: auto;
 }
 
 .dots-wrapper {
   display: flex;
   justify-content: center;
   margin: auto;
 }
 
 .dot {
   border: none;
   background: rgba(0, 0, 0, 0.2);
   width: 20px;
   height: 20px;
   margin: 5px;
   border-radius: 50%;
   outline: none;
 }
 .dot:hover {
   background: rgba(0, 0, 0, 0.3);
 }
 .dot.active {
   background: rgba(0, 0, 0, 0.5);
 }

 .MainPage { 
   background-color: lightgray;
 }

 .h2 {
   font-size: 3.0vh;
 }
 .p {
   font-size: 2vmin;
 }

 .welcome-mainpage {
   padding: 25px 50px 75px 100px;
 }
 







