
  section  {
    font-family:Helvetica;
    color:black;
    background-color: lightgray;
    left:55%;
    margin-left: -48%;
    position: relative;
    top: 315px;
    width: 1200px;
    word-wrap: break-word;
  }

.carousel {
    background-color: rgb(233, 228, 228);
    position:relative;
    left: 109px;
    width:1200px;
    z-index: 3;
}
.Carousel-Border {
    background-color: rgb(233, 228, 228);
    position: absolute;
    top: 450px;
    left: 71px;
    width: 1270px;
    height: 300px;
    z-index: 1;
}
.carousel h2 {
    position: absolute;
    color: black;
    top: -40px;
    left: 10px;
    z-index: 2;
}

  .box img {
    background-color: darkgrey;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 2/1;
    object-fit: contain;
  }

.slick-slide div {
    margin: 0 1rem;
    background-color: rgb(233, 228, 228);

}

.slick-dots {
    background-color: rgb(233, 228, 228);
}

.slick-active {
    background-color: rgb(233, 228, 228);
}

.slick-slider {
    height: 10rem;
    position: relative;
    margin-top: -50px;
    margin-left: -10px;
    background-color: rgb(233, 228, 228)

}

 .Main-Border {
    background-color: lightgray;
    Width: 1200px;
    Height: 500px;
 }

 .MainPage {
    background-color: lightgray;
 }

 @media screen and (max-width: 600px) {
    .carousel {
        background-color: rgb(233, 228, 228);
        position: relative;
        left: 70px;
        width: 20%;
    }

    .carousel h2 {
        font-size: 12px
    }

    section {
        width: 500px;
    }
   
}


















