.Navbar {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 150px 10px 150px;
    background-color: lightgray;
}

.navbar-first-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.follow-icons-login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.login-button {
    margin-left: 10px;
    width: 80px;
    height: 30px;
    font-size: 18px;
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
}

.login-button:hover {
    background-color: darkgrey;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.24);
  }

  section  {
    font-family:Helvetica;
    color:black;
    background-color: lightgray;
    left:50%;
    margin-left: -48%;
    position: relative;
    top: 315px;
    width: 1200px;
    word-wrap: break-word;
  }

.carousel {
    background-color: rgb(233, 228, 228);
    position:relative;
    padding: 4rem;
    margin-top: -50px;
    margin-left: -10px;
   
}
.carousel h2 {
    position: absolute;
    background-color: rgb(233, 228, 228);
    color: black;
    top: -40px;
    left: 100px;
}

  .box img {
    background-color: darkgrey;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 2/1;
    object-fit: contain;
  }

.slick-slide div {
    margin: 0 1rem;
    background-color: rgb(233, 228, 228);

}

.slick-dots {
    background-color: rgb(233, 228, 228);
}

.slick-active {
    background-color: rgb(233, 228, 228);
}

.slick-slider {
    height: 10em;
    position: relative;
    margin-top: -50px;
    margin-left: -10px;
}












