.Staff-Directory {
    padding: 70px 100px;
}

.sub-section-name {
     text-decoration: underline;
}

/* Styling for the staff list */
.staff-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three cards per row */
    gap: 3rem;  /* Spacing between each grid item */
    list-style-type: none;  /* Remove default list bullet points */
    padding: 0;  /* Remove default list padding */
}

/* Styling for individual staff card */
.staff-card {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column; /* Stack child elements vertically */
}

.staff-card img {
    max-width: 100%;  /* Ensure image doesn't overflow the card */
    border-radius: 50%;  /* If you want a circular avatar */

    align-self: center; /* Center the image horizontally */
    margin: 0.5rem auto; /* Another method to center the image horizontally */
}

.staff-card h5 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.staff-card p {
    font-size: 0.85rem;
    margin: 0;
}

/* Responsive breakpoints */

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .staff-list {
        grid-template-columns: repeat(2, 1fr);  /* On smaller screens, use 2 cards per row */
    }
}

@media (max-width: 480px) {
    .staff-list {
        grid-template-columns: 1fr;  /* On very small screens, use 1 card per row */
    }
}
