.Navbar {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px 100px 50px 100px;
    background-color: lightgray;
}

@media (max-width: 600px) {
    .Navbar {
        padding: 80px 50px 50px 50px;
    }
}

