.BlackBusinessDirectory {
    justify-content: center;
    align-items: center;
    padding: 0px 100px 50px 100px;
    background-color: lightgray;
    display:inline-block;
}

.sub-section-name {
    text-decoration: underline;
}

.heading {
    text-decoration: solid;
}

.img-01 {
    max-width: 100%;
    height: auto;
    width: 180px;
    top: 10px;
    float: left;
    margin: 40px;
}

.event-list-01 {
    margin: 10px -20px;
    width: 100%;
}

.event-list-02 {
   clear: both;
}

.img-02 {
    max-width: 100%;
    height: auto;
    width: 180px;
    top: 10px;
    float: left;
    margin: 40px;
}

.event-list-02 {
    margin: 10px -20px;
    width: 100%;
}

.footer {
    clear: both;
    width: 90%;
}

